name: docs

on:
  push:
    branches:
      - 'master'
    paths:
      - '.github/workflows/htmltest.yml'
      - 'www/*'
  pull_request: {}

jobs:
  htmltest:
    runs-on: ubuntu-latest
    steps:
      -
        name: checkout
        uses: actions/checkout@v2
      -
        name: Set up Task
        uses: arduino/setup-task@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      -
        name: build
        run: task docs:build
      -
        name: htmltest
        uses: wjdp/htmltest-action@master
        with:
          path: www/site
          config: www/htmltest.yml
