name: generate

on:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/generate.yml"
      - "www/*"
      - "cmd/*"
      - "internal/cmd/*"
      - "files/*"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable
      - uses: go-task/setup-task@0ab1b2a65bc55236a3bc64cde78f80e20e8885c2 # v1.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: "go install github.com/santhosh-tekuri/jsonschema/cmd/jv@latest"
      - run: task docs:releases
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      - run: task docs:generate
      - run: task schema:generate
      - run: task schema:validate
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: "docs: update cmd docs"
          branch: main
