name: generate

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/generate.yml'
      - 'www/*'
      - 'cmd/*'
      - 'internal/cmd/*'
      - 'files/*'
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.20.2'
          cache: true
      - uses: arduino/setup-task@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task docs:generate
      - run: task docs:releases
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: update cmd docs"
          branch: main
