name: generate

on:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/generate.yml"
      - "www/*"
      - "cmd/*"
      - "internal/cmd/*"
      - "files/*"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable
      - uses: go-task/setup-task@0ab1b2a65bc55236a3bc64cde78f80e20e8885c2 # v1.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: "go install github.com/santhosh-tekuri/jsonschema/cmd/jv@latest"
      - run: task docs:releases
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      - run: task docs:generate
      - run: task schema:generate
      - run: task schema:validate
      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "docs: update cmd docs"
          branch: main
